@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

html {
  background-color: #d23839;
  color: #ede1d7;
  text-align: center;

}
body {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 2rem;
}