@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Montserrat&family=Zilla+Slab:wght@300&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #cc6264;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 90%;
}

header {
  padding-top: 80px;

}
.logo {
  width: 40%;
}
nav {
  background-color: #cc6264;
  color: #ede1d7;
  padding: 10px 20px;
  text-align: right;
}
.navButton {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: #f3e8e1;
}
h1 {
  font-family: 'Zilla Slab', serif;
  font-size: 4rem;
  margin: 20px 0;
}
.titleSpan {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 60%, #f3e8e1 40%);
}
h4 {
  text-align: left;
  margin: 0;
  padding-top: 20px;
  font-size: 1.8rem;
  text-decoration-skip-ink: none;
  text-decoration: #cc6264 wavy underline;
}

h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  margin: 16px 0;
}
h5 {
  text-align: left;
  margin: 0 0 30px 20px;
  font-weight: 400;
}

form {
  padding-bottom: 50px;
}
.recipeBook {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  margin-top: 30px;
}

.recipe {
  width: 31%;
  justify-content: space-between;
  /* background-color: #ede1d7; */
  color: #cc6264;
  border: 1px solid #cc9562;
  border-radius: 17px 17px;
  margin-bottom: 50px;

}
.recipe:hover,
.recipe:focus {
  transform: scale(105%);
  transition: 0.3s;
}

hr {
  border-style: dotted;
  border-top: none;
  width: 20%;
}
.spanDiv {
  display: table;
    height: 100px;
    width: 100%;
    text-align: center;
}
.recipeTitle {
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
  font-family: 'Zilla Slab', serif;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.07rem;
  margin: 10px 0;
  padding: 0 10px;
  text-transform: uppercase;
}
.recipeBox {
  display: flex;
  flex-direction: column;
  border: 1px solid #cc6264;
  border-radius: 15px 15px;
  margin: 5px;
}
.recipeBox:hover,
.recipeBox:focus {
  background-color: #f3e8e1;  
}
.recipeImg {
  height: 30%;
}
.recipeText {
  height: 70%;
  padding: 17px;
}
.photo {
  width: 100%;
  object-fit: fill;
  border-radius: 15px 15px 0 0 ;
}
input {
  border: none;
  border-radius: 4px 4px;
  font-size: 1.3rem;
  padding: 5px;
  font-family: 'Lato', sans-serif;
}
.link {
  text-decoration: none;
  color: #ede1d7;
  font-size: 1.1rem;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
button:hover,
button:focus {
  cursor: pointer;
}
.linkBtn {
  border: none;
  background-color: #cc6264;
  border-radius: 6px 6px;
  padding: 8px 30px;
  margin-top: 20px;
}

.linkBtn:hover,
.linkBtn:focus {
  background-color: #cc9562;
  transition: 0.3s;
}
.textInput {
  margin: 30px 10px 0 0;
  width: 50%;
  padding: 7px 10px;
  border: 1px solid #cc6264;
}

.btnDiv {
  padding-top: 10px;
}
.button {
  background-color: #cc9562;
  padding: 5px 20px;
  font-family: 'Zilla Slab', serif;
  color: #ede1d7;
  border:1px solid #cc9562;
  font-size: 1.1rem;
  padding: 9px 20px;
  margin: 20px 0;
}

.button:hover,
.button:focus {
  cursor: pointer;
  transform: scale(110%);
  transition: 0.3s;
}
.img {
  display: flex;
  justify-content: center;
}
.pot {
  width: 500px;
}
.loading {
  position: absolute;
  top: 50%;
  left: 39%;
  transform: translate(-50%, -50%);
}

.progress {
  position: relative;
  height: 10px;
  width: 1110%;
  border: 10px solid #f4a261;
  border-radius: 15px;
}

.progress .color {
  position: absolute;
  background-color: #ffffff;
  width: 0px;
  height: 10px;
  border-radius: 15px;
  animation: progres 4s infinite linear;
}
.summaryDiv {
  max-height: 100px;
  overflow: scroll;
  overflow: overlay;
}
.summary {
  padding-right: 12px;
  font-size: 1rem;
  text-align: left;  
  margin-top: 0;
  height: 10%;
}
.triangle {
  background-color: transparent;
  border: none;
}
.triangle img {
  width: 20%;
}
.readMore {
  color: #cc6264;
  margin-bottom: -10px;
  font-size: 1rem;
}
@keyframes progres {
  0% {
    width: 0%;
  }

  25% {
    width: 50%;
  }

  50% {
    width: 75%;
  }

  75% {
    width: 85%;
  }

  100% {
    width: 100%;
  }
}

footer {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 20px;
  padding: 12px 0;
  background-color: #cc6264;
  color: #ede1d7;
}
input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #cc9562;
}

.groceryList {
  display: inline-block;
  margin: 0;
  font-size: 1.2rem;
}

.groceryBtn {
  color: #ede1d7;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  margin-bottom: 0px;
}


/* media Query */

@media (max-width: 1001px) {
  .recipe {
    width: 47%;
  }
}
@media (max-width: 651px) {
  .recipe {
    width: 94%;
  }
  .recipeBook {
    justify-content: center;
  }
  h1 {
    font-size: 3.5rem;
  }
  label {
    font-size: 1.4rem;
  }
  .logo {
    width: 65%;
  }
  .textInput {
    margin-top: 15px;
  }
}
@media (max-width: 501px) {
  h1 {
    font-size: 3rem;
  }

}